# Arquivos do Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.vscode/
.idea/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
