server:
  port: ${PORT:8080}

spring:
  application:
    name: rdl

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/rdl-db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
